beautifulsoup4==4.7.1
Flask==0.12.2
googleapis-common-protos==1.5.8
google-api-core==1.8.0
google-auth==1.6.3
google-cloud-language==1.1.1
grpcio==1.16.1
gunicorn==19.7.1
MechanicalSoup==0.11.0
requests==2.21.0
Flask-Cors==3.0.7